name: Daily PostgREST HEAD Request

on:
  schedule:
    # Runs at 12:00 AM every day
    - cron: "0 0 * * *"
  workflow_dispatch:
jobs:
  postgrest_head_request:
    runs-on: ubuntu-latest

    steps:
    - name: India HEAD
      run: |
        curl -X GET "https://rhbgejtirrdfozjasxvn.supabase.co/rest/v1/nodejs-urls?key=eq.hithere" -H "apikey: ${{ secrets.INDIA_ANON }}"

    - name: USA HEAD
      run: |
        curl -X GET "https://pjxlakfgjomqxihmqgxc.supabase.co/rest/v1/nodejs-urls?key=eq.hithere" -H "apikey: ${{ secrets.USA_ANON }}"

    - name: BRAZIL HEAD
      run: |
        curl -X GET "https://huvetraghisutwxkgtzv.supabase.co/rest/v1/nodejs-urls?key=eq.hithere" -H "apikey: ${{ secrets.BRAZIL_ANON }}"

    - name: FRANKFURT HEAD
      run: |
        curl -X GET "https://ltlxwqzqljcvgnbawkpz.supabase.co/rest/v1/nodejs-urls?key=eq.hithere" -H "apikey: ${{ secrets.FRANKFURT_ANON }}"

    - name: AUSTRALIA HEAD
      run: |
        curl -X GET "https://nceblmminkeqieeaibfx.supabase.co/rest/v1/nodejs-urls?key=eq.hithere" -H "apikey: ${{ secrets.AUSTRALIA_ANON }}"

    - name: STK HEAD
      run: |
        curl -X GET "https://cxmekmgutpttdaqcncqf.supabase.co/rest/v1/nodejs-urls?key=eq.hithere" -H "apikey: ${{ secrets.STK_ANON }}"

  dummy-commit-job:
      name: Dummy Commit Job
      runs-on: ubuntu-latest
      steps:
        - name: Checkout Code
          uses: actions/checkout@v4

        - name: Make Dummy Commit
          run: |
            git config user.name "github-actions[bot]"
            git config user.email "github-actions[bot]@users.noreply.github.com"
            echo "# Dummy Commit" >> dummy_commit.txt
            git add dummy_commit.txt
            git commit -m "chore: add dummy commit"
            git push